.CategoryTile {
  border: 2px solid rgb(8, 222, 104);
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 15px;
  color: white;
  align-items: center;
  height: 25%;
  flex-basis: 25%;
}

.CategoryHeading {
  font-family: "Roboto", sans-serif;
}
.CategoryImage {
  display: flex;
  width: 75%;
  height: 70%;
}
